# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.DS_Store

# Secrets
.env
.env.local
.env.prod
*.key
*.pem

# IDE (PyCharm)
.idea/
.vscode/
*.iml

# Fichiers temporaires
*.tmp
*.bak
*.swp
*.swo

# ==========================================
# Fichiers statiques (on ignore tout SAUF ce qui est important)
# ==========================================
static/
!static/css/
!static/js/
!static/icons/